<!doctype html>
<html>
  <!doctype html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Learning Simplified For The Next Generation. Zero Hassle, Incredible Prices, Big Heart.">
    <title>Booking Confirmed</title>
    <!-- FAVICON -->
    <link rel="icon" href="https://gurufa.netlify.app/assets/favicon-d9223000.png" type="image/x-icon">
    <!-- CSS Stylesheets -->
    <style></style>
  </head>

<body>
  Hello {{first_name}}, <br/>
  Course "{{course_name}} ({{level_name}})" booking confirmed with booking ID "{{booking_id}}".
  <br/>
  Thanks <br/>
  Team Gurufa.
<script></script>
</body>
</html>