<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Description of the website.">
  <meta name="keywords" content="">
  <meta name="robots" content="index, follow">
  <title>Booking confirmed</title>
  <!-- OG Tags -->
  <meta property="og:title" content="Booking confirmed">
  <meta property="og:description" content="Description of the website.">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="My Website">
  <!-- FAVICON -->
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  Hello {{first_name}},
  Course "{{course_name}} ({{level_name}})" booking confirmed with booking ID "{{booking_id}}".

  Thanks
  Team Gurufa.

<!-- JSVASCRIPTS -->
<script src="index.js"></script>
</body>
</html>