<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Learning Simplified For The Next Generation. Zero Hassle, Incredible Prices, Big Heart.">
  <title>New Customer Message</title>
  <!-- FAVICON -->
  <link rel="icon" href="https://gurufa.netlify.app/assets/favicon-d9223000.png" type="image/x-icon">
  <!-- CSS Stylesheets -->
  <style></style>
</head>
<body>
  NEW MESSAGE <br/>
  <hr/>
  Email = {{email}} 
  <br/>
  Phone = {{phone}} 
  <br/>
  Message = {{message}} 
  <hr/>
  Team Gurufa.
<script></script>
</body>
</html>